<%= form_for(@home) do |f| %>
  <% if @home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
      <% @home.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row-fluid">
	<div class="span3">
		<!# This is an empty span4 space >
		</div>
		
		<div class="span9">
			
			<div id="input-new">
			First, what is your first name?
			</div>
			<%= f.text_field :name, :class=>"input-field" %>
			
			<div id="input-new">
			What is the price of the home you are buying?
			</div>
			<%= f.text_field :asking_price, :class=>"input-field" %>

			<div id="input-new">
			How much is the seller's concession? If unsure, leave blank.
			</div>
			<%= f.text_field :seller_con, :class=>"input-field" %>
			
			<div id="input-new">
			What are the estimated annual Real Estate Taxes?
			</div>
			<%= f.text_field :re_taxes, :class=>"input-field" %>

			  <div class="actions">
				<br>
				<div class="btn btn-primary">
			    <%= f.submit "Submit", :class=> "original-submit" %>
				</div>
				
			  </div>
			<% end %>
			</div>
	</div>


